<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-top">
      <p>{{ 'FOOTER.READY' | translate }}</p>
      <p>{{ 'FOOTER.CREATE' | translate }}</p>
      <a href="mailto:adrianmartinmalmierca@gmail.com" class="btn-footer">{{ 'FOOTER.EMAIL' | translate }}</a>
    </div>
    <div class="footer-bottom">
      <div class="footer-left">
        <a href="#home" class="logo-link">
          <img src="../../../assets/logo3.png" alt="Logo" class="logo">
        </a>
      </div>
      <p>{{ 'FOOTER.CREATED_BY' | translate }}</p>
      <div class="footer-right">
        <div class="footer-socials">
          <a href="https://github.com/AdrianMalmierca" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/github.png" alt="GitHub">
          </a>
          <a href="https://www.linkedin.com/in/adrianmartinmalmierca/" target="_blank" rel="noopener noreferrer">
            <img src="../../../assets/linkedin.png" alt="LinkedIn">
          </a>
          <a href="mailto:adrianmartinmalmierca@gmail.com">
            <img src="../../../assets/gmail.png" alt="Gmail">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>