<nav class="navbar">
  <a routerLink="/home">{{ 'HOME.TITLE' | translate }}</a>
  <a routerLink="/projects">{{ 'PROJECTS.TITLE' | translate }}</a>
  <a routerLink="/stack">{{ 'STACK.TITLE' | translate }}</a>
  <a routerLink="/contact">{{ 'CONTACT.TITLE' | translate }}</a>

  <div class="lang-buttons">
    <button (click)="switchLang('fr')">FR</button>
    <button (click)="switchLang('es')">ES</button>
    <button (click)="switchLang('en')">EN</button>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>