<section class="contact-section">
  <h2>{{ 'CONTACT.TITLE' | translate }}</h2>

  <p>{{ 'CONTACT.EMAIL_LABEL' | translate }}: adrianmartinmalmierca&#64;gmail.com</p>

  <p>
    <a href="mailto:adrianmartinmalmierca@gmail.com" class="email-btn">
      {{ 'CONTACT.EMAIL_BTN' | translate }}
    </a>
  </p>

  <p>{{ 'CONTACT.PHONE_LABEL' | translate }}: +34 667794938</p>

  <p>
    {{ 'CONTACT.LINKEDIN' | translate }}:
    <a href="https://www.linkedin.com/in/adri%C3%A1n-mart%C3%ADn-malmierca-4aa6b0293/" target="_blank">
      {{ 'CONTACT.LINKEDIN' | translate }}
    </a>
  </p>

  <p>
    {{ 'CONTACT.GITHUB' | translate }}:
    <a href="https://github.com/AdrianMalmierca" target="_blank">
      {{ 'CONTACT.GITHUB' | translate }}
    </a>
  </p>
</section>