<section class="stack-section">
  <h1>{{ 'STACK.TITLE1' | translate }}</h1>

  <div class="stack-grid">

    <div class="stack-card">
      <h2>{{ 'STACK.CARDS.MOBILE.TITLE' | translate }}</h2>
      <p>{{ 'STACK.CARDS.MOBILE.TEXT' | translate }}</p>
    </div>

    <div class="stack-card">
      <h2>{{ 'STACK.CARDS.WEB.TITLE' | translate }}</h2>
      <p>{{ 'STACK.CARDS.WEB.TEXT' | translate }}</p>
    </div>

    <div class="stack-card">
      <h2>{{ 'STACK.CARDS.BACKEND.TITLE' | translate }}</h2>
      <p>{{ 'STACK.CARDS.BACKEND.TEXT' | translate }}</p>
    </div>

    <div class="stack-card">
      <h2>{{ 'STACK.CARDS.DB.TITLE' | translate }}</h2>
      <p>{{ 'STACK.CARDS.DB.TEXT' | translate }}</p>
    </div>

    <div class="stack-card">
      <h2>{{ 'STACK.CARDS.AI.TITLE' | translate }}</h2>
      <p>{{ 'STACK.CARDS.AI.TEXT' | translate }}</p>
    </div>

    <div class="stack-card">
      <h2>{{ 'STACK.CARDS.CLOUD.TITLE' | translate }}</h2>
      <p>{{ 'STACK.CARDS.CLOUD.TEXT' | translate }}</p>
    </div>

  </div>
</section>