<section>
  <h2>{{ 'PROJECTS.TITLE' | translate }}</h2>

  @for (project of projects; track project.TITLE) {

    <div class="project">
      <h3>{{ project.TITLE }}</h3>

      <p>{{ project.TEXT1 }}</p>

      @if (project.TEXT2) {
        <p>
          {{ project.TEXT2 }}
          @if (project.LINK_TEXT) {
            <a href="{{project.LINK_TEXT2}}" target="_blank">
              {{ project.LINK_TEXT }}
            </a>
          }
        </p>
      }

      @if (project.LIST?.length) {
        <ul>
          @for (item of project.LIST; track item) {
            <li>{{ item }}</li>
          }
        </ul>
      }

      @if (project.TEXT3) {
        <p>{{ project.TEXT3 }}</p>
      }

      @if (project.TEXT4) {
        <p>{{ project.TEXT4 }}</p>
      }

      <p><strong>Stack:</strong> {{ project.STACK }}</p>

      <a
        class="github-btn"
        [href]="getGithubLink(project.TITLE)"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ project.GITHUB }}
      </a>

    </div>

  }
</section>